<DOCTYPE html>
    <head>
            
            
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="../public/js/index.js"></script>
            <link rel="stylesheet" href="../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
            <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
            
    </head>

    <body>
            <div id="contact">Sign Up</div>

            <div id="contactForm">
            
              <h1>Welcome to PetPholio!</h1>
              <small></small>
              
              <form action="#">
                <input placeholder="First Name" type="text" required />
                <input placeholder="Last Name" type="text" required />
                <input placeholder="Email" type="email" required />
                <input placeholder="Password" type="" required />
             
                
                <input class="formBtn" type="submit" />
                <input class="formBtn" type="reset" />
              </form>
            </div>
    
</body>
</html>
