
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <title>Home Page</title>
  
</head>

<body>
  
<div id="petPholio" class="col-6 col-sm-3">PetPholio</div>
 
<div id='form'>

        <form>

            <h1 id='style'>General Information</h1>
                <div class="form-group">
                  <label for="exampleInputEmail1">Name:</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                  <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Date of Birth (estimate):</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Date of Birth">
                </div>
                <div class="form-group">
                        <label for="exampleInputPassword1">Breed:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Breed">
                </div>
                <div class="form-group">
                                <label for="exampleInputPassword1">Gender:</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Gender">
                </div>

                <div class="form-group">
                                <label for="exampleInputPassword1">Microchip #:</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Microchip">
                </div>


        
        <br>
        <br>
            <h1 id='style'>Emergency Information</h1>
                <div class="form-group">
                  <label for="exampleInputEmail1">Vet Hospital Name:</label></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Vet Hospital Name">
                  <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Street:</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Street">
                </div>
                <div class="form-group">
                        <label for="exampleInputPassword1">City:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="City">
                      </div>
               
                <div class="form-group">
                                <label for="exampleInputPassword1">ZipCode:</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Zipcode">
                </div>
                <div class="form-group">
                       
                                <label for="exampleInputPassword1">Phone:</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone">
                            </div>

                

                            <h1 id='style'>Emergency Contact</h1>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Name:</label></label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                              <small id="emailHelp" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Phone Number:</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
                            </div>
                       


                <h1 id='style'>Nutritional Information</h1>
                <h2 id='style'>Food</h2>
                <div class="form-group">
                    
                        <label for="exampleInputPassword1">Brand:</label>:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Brand">
                    </div>
                    <div class="form-group">
                            <label for="exampleInputPassword1">Flavor:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Flavor">
                        </div>
                        <div class="form-group">
                    
                            <label for="exampleInputPassword1">Amount:</label>:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Amuont">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">How Often:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="How Often">
                        </div>
                <h2 id='style'>Treats</h2>
                <div class="form-group">
                            
                        <label for="exampleInputPassword1">Brand:</label>:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Brand">
                            </div>
                            <div class="form-group">
                                    <label for="exampleInputPassword1">Flavor:</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Flavor">
                                </div>
                                <div class="form-group">
                            
                                    <label for="exampleInputPassword1">Amount:</label>:</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Amound">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">How Often:</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="How Ofter">
                                </div>

                     
                <h1 id='style'>Medication and Supplements</h1>
                <h2 id='style'>Heartworm Preventative</h2>
                       <div class="form-group">
                    
                        <label for="exampleInputPassword1">Brand:</label>:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Brand">
                    </div>
                    <div class="form-group">
                            <label for="exampleInputPassword1">Last Administered:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Last Administerd">
                        </div>
                <h2 id='style'>Flea/Tick</h2>
                       <div class="form-group">
                    
                        <label for="exampleInputPassword1">Brand:</label>:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Brand">
                    </div>
                    <div class="form-group">
                            <label for="exampleInputPassword1">Last Administered:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Last Administered">
                        </div>
                <h2 id='style'>List All Other Medications</h2>
                <div class="form-group">
                    
                        <label for="exampleInputPassword1">Dosage:</label>:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Dose">
                    </div>
                    <div class="form-group">
                            <label for="exampleInputPassword1">How Often:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="How Often">
                        </div>
                           <div class="form-group">
                            <label for="exampleInputPassword1">Time of Day:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Time of Day">
                        </div>
                        
              
                      </form>
                  </div>

                  <br>
                  <br>

                
                  <div class="form-group">
                        <label for="exampleTextarea">My Pet Likes:</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                      </div>
                      <div class="form-group">
                            <label for="exampleTextarea">My Pet Dislikes:</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>

                    </div>
                </div>
            </div>
        </form>
              

      <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

        </div>

          </div> 
  

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
          </div>

      </div>
      


    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#">PetPholio </a>
    </div>
    

  </footer>
  
</body>

</html>
