<!doctype html>
<html dir="ltr" lang="en-US">

<!--=============================================-->
<!--=============================================-->
<!--=============================================-->

<head>

    <!-------------------------------------------
  Required meta tags
  -------------------------------------------->

    <meta charset="utf-8">
    <!--just for auto-refresh or redirect use the following meta tag-->
    <!--<meta http-equiv="refresh" content="10" />-->
    <!--<meta http-equiv="refresh" content="0; url=http://website.com/" />-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="#DESAIGNER" />
    <meta name="description" content="#" />
    <meta name="keywords" content="#" />
    <link rel="shortcut icon" type="image/gif" href="assets/images/icon.png" />

    <!-------------------------------------------
  Stylesheets
  -------------------------------------------->
    <!--Reset CSS-->

    <!--Other CSS-->
    <!--BootStrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!------->
    <!--W3.CSS-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!------->
    <!--Developer CSS-->

    <!-------------------------------------------
  JavaScript
  -------------------------------------------->



    <!-------------------------------------------
  Document Title
  -------------------------------------------->
    <title>Petfolio Club</title>

</head>

<!--=============================================-->
<!--=============================================-->
<!--=============================================-->

<body style="background-image: url('https://kratuvwxyz.github.io/JalpaDance/website/images/jalpa/pattern/gplaypattern_@2X.png')">

    <!-------------------------------------------
  Document Wrapper
  -------------------------------------------->
    <div class="p-4 m-4">
        <div class="container">
            <div class="row" style="vertical-align: middle;">
                <div class="col-md-12 col-lg-2">
                    <img src="https://kratuvwxyz.github.io/SVG/bootcamp_Project2/business.svg" alt="icon" height="120">
                </div>
                <div class="col-md-12 col-lg-10">
                    <h1 class="display-4 text-wide"><span class="text-danger">PETFOLIO</span> CLUB</h1>
                    <h3>
                        Your pet’s world.
                        <span class="text-muted">Your story.</sapn>
                    </h3>
                </div>
            </div>
            
        </div>
    </div>

    <div class="container">
    <div class="row shadow-lg p-3 mb-5 bg-white rounded">
        <div class="col-sm-12 col-lg-6">
            <form>
                <div class="form-group">
                <label for="exampleInputEmail1">Sign In Email Address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="button" class="btn btn-primary btn-sm">Sign In</button>  <span class="text-danger"> | </span>
                        <button type="button" onclick="document.getElementById('id01').style.display='block'" class="btn btn-secondary btn-sm">New User Sign Up</button>

                        <div>
                            <div id="id01" class="w3-modal">
                                <div class="w3-modal-content w3-card-4 w3-animate-zoom p-4" style="max-width:600px">

                                    <div class="w3-center"><br>
                                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                                    </div>
                                    <form class="w3-container" action="/action_page.php">
                                        <div class="w3-section">
                                            <label><b>Username</b></label>
                                            <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
                                            <label><b>Password</b></label>
                                            <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="psw" required>
                                            <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Sign Up</button>
                                        </div>
                                    </form>
                                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                                        <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                </div>
                <div class="col-sm-12 col-lg-6 bg-white">
                    <img src="http://pluspng.com/img-png/png-hd-dogs-and-cats-dog-png-transparent-image-1600.png" alt="pet image" width="80%" class="mx-auto d-block">
                </div>
            </div>
            <footer>
                <div class="p-5 mb-0 text-center text-monospace">
                    COPYRIGHT 2018 PETFOLIO.CLUB | ALL RIGHTS RESERVED.
                </div>
            </footer>
        </div>


        <!-------------------------------------------
  External JavaScripts
  -------------------------------------------->

</body>

<!--=============================================-->
<!--=============================================-->
<!--=============================================-->

</html>