<DOCTYPE html>
    <head>
            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="../public/js/index.js"></script>
            <link rel="stylesheet" href="../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
            <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
            <link rel="stylesheet" href="/resources/demos/style.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            
    </head>

    <body>
            <div id="contact">General Information</div>

            <div id="contactForm">
            
                <h1>General Information</h1>
              <!-- <small>General Information</small> -->
              
        <form action="#">
                <input placeholder="Name:" type="text" required />
                <input placeholder="Date of Birth:" type="text" id="datepicker" required />
          
                <input class="formBtn" type="submit" />
                <input class="formBtn" type="reset" />

        </form>

              <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <input class="span2" size="16" type="text" value="12-02-2012">
                <span class="add-on"><i class="icon-th"></i></span>
              </div>

</head>
<body>
 

