<DOCTYPE html>
    <head>
            
            
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="../public/js/index.js"></script>
            <link rel="stylesheet" href="../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
            <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
            
    </head>

    <body>
            <div id="contact">General Information</div>

            <div id="contactForm">
            
                <h1>General Information</h1>
              <!-- <small>General Information</small> -->
              
        <form action="#">
                <input placeholder="Name:" type="text" required />
                <input placeholder="Date of Birth:" type="datetime" required />
                <!-- <input placeholder="Breed:" type="text" required />
                <input placeholder="Gender:" type="text" required />
             
                <h1>Emergency Information</h1>

                <input placeholder="Vet Hospital Name:" type="text" required />
                <input placeholder="Street Address:" type="text" required />
                <input placeholder="City:" type="text" required />
                <input placeholder="ZipCode:" type="text" required />
                <input placeholder="PhoneNumber:" type="text" required />

                <small>Emergency Contact</small>

                <input placeholder="Name:" type="text" required />
                <input placeholder="PhoneNumber:" type="text" required /> -->
                
             
                
                <input class="formBtn" type="submit" />
                <input class="formBtn" type="reset" />
              </form>
     
            
    
</body>
</html>
