
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/styles/profile.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <title>Home Page</title>
  
</head>

<body>

  
 

<!-- PROFILE PIC AND NAME -->
<div id="profileDiv" class="container">
    <div class="row">
        <div col-md-2>
        <img id='petPic' src='../public/styles/pup.png'>     
    </div>      
      <div col-md-6>
        <h1 id="nameAppend">Spot</h1>  
      </div>
      </div>                
  </div>

    <br>
    <br>


  <!-- PROFILE BIO LIKES AND DISLIKES -->
  <div id="centerBio">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p id="bio">My name is Spot I am a good boy. Among my favorite things (there are many) are toys, food, bones, anything my human finds disgusting, and barking.</p>
              <h1 id="bio">Likes:</h1>
              <ul id='likes'></ul>
              <h1 id="bio">DisLikes:</h1>
              <ul id='disLikes'></ul>
            </blockquote>
          </div>
          </div>
        <div col-m-2 id='opacity'></div>
    
</div>

</div>

<br>
<br>
<br>




<!-- THREE COLUMNS -->
<div class="container">
        <div class="row">
          <div class="col-sm">
            <h1 id="cardTitle">Dates to Remember</h1>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../public/styles/Screen Shot 2018-07-23 at 2.38.26 PM.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Important Upcoming Events</h5>
                  <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Heartworm Medicine</li>
                  <li class="list-group-item"></li>
                  <li class="list-group-item"></li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Edit</a>
                  <a href="#" class="card-link">Delete</a>
                  
                </div>
              </div>
            
          </div>
          <div class="col-sm">
              <h1 id="cardTitle">Nutritional Information</h1>
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../public/styles/food.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Food, Treats, and Allergies</h5>
                    
                  </div>
                  <h2>Food:</h2>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Brand: </li>
                    <li class="list-group-item">Flavor: </li>
                    <li class="list-group-item">Amount:</li>
                    <li class="list-group-item">Frequency:</li>
                  </ul>
                  <h2>Treats:</h2>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Brand: </li>
                    <li class="list-group-item">Flavor: </li>
                    <li class="list-group-item">Amount:</li>
                    <li class="list-group-item">Frequency:</li>
                  </ul>
                  <h2>Allergies:</h2>
                  <ul>
                    <li>
                    </li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Edit</a>
                    <a href="#" class="card-link">Delete</a>
                  </div>
                  
                </div>
          </div>
          <div class="col-sm">
              <h1 id="cardTitle">Medical History</h1>
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://cdn.iconscout.com/public/images/icon/free/png-512/medical-bag-medicine-health-hospital-care-healthcare-aid-33e12b8297fee4c0-512x512.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Medicine</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Edit</a>
                  <a href="#" class="card-link">Delete</a>
                  </div>
                </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

        </div>

          </div> 
          

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
          </div>

      </div>
      

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#">PetPholio </a>
    </div>
    

  </footer>
  
</body>

</html>
