.list-group-item {
  line-height: 2.5;
}

.form-group{
  width: 50%;
  margin: auto;
  margin: 0, auto;
  
}

.signUp{
  width: 50px;
  margin: 0, auto;

  

}

.signIn{
  width: 30px;
  margin: 0, auto;

}
